<app-dashboard></app-dashboard>

<!-- <p>dashbaord1 works!</p>

<div class="left list-container">
  <dx-list class="list" [dataSource]="productNames" [searchEnabled]="true" selectionMode="single"
    (onSelectionChanged)="onClick($event)">
    <div *dxTemplate="let product of 'item'">
      <div>
        <div class="product">
          <div class="name">{{ product.productType }}</div>
        </div>
      </div>
    </div>
  </dx-list>

  <div class="left list-container" style=" margin-top: 43px;  
  margin-left: -19px;">
    <dx-list class="list" [dataSource]="products" displayExpr="vendorName" [searchEnabled]="true"
      selectionMode="single">
      <div *dxTemplate="let s of 'item'">
        <div>
          <div class="product">
            <div class="name">{{ s.vendorName }}</div>
          </div>
        </div>
      </div>
    </dx-list>
  </div>
</div>

<div class="right">

  <table *ngIf="statusesByProductType && statusesByProductType.length > 0" style="width:100%">
    <tr>
      <th>Product Type</th>
      <th *ngFor="let item of statusesByProductType[0].statuses">{{item.name | status}}</th>
    </tr>
    <tr *ngFor="let item of statusesByProductType; index as i">
      <td>{{item.producType}}</td>
      <td>{{item | statuscount : 1}}</td>
      <td>{{item | statuscount : 2}}</td>
      <td>{{item | statuscount : 3}}</td>
    </tr>
  </table>
</div> -->